.member
{
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
}
.member .p_info
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.member .p_info img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.member .p_info .p_text
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-transform: capitalize;

}
.member .p_info .p_text p:nth-child(1)
{
    color: black;
    font-weight: 500;
    margin: 0;
}
.member .p_info .p_text p:nth-child(2)
{
    color: #8f8f94;
    margin: 0;
  
}
.member .p_tasks
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member .p_tasks > div
{
    display: flex;
    flex-direction: column;
    /* padding: 0px 10px; */
    width: 30%;
}
.member .p_tasks > div p
{
    margin-left: 5px;
    margin-bottom: 0;
}
.TEAm
{
    background-color: #f2f2f2;
}
.team
{
    display: grid;
    grid-template-columns: repeat(2,45%);
    row-gap: 20px;
    justify-content: space-between;
    width: 95%;
    margin-left: 2%;
    background-color: #f2f2f2;
    padding: 10px;
}
.TEAm h1
{
    margin: 5px 0 5px 5px;
}
@media(max-width:769px)
{
    .team
    {
        grid-template-columns: 70%;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:426px)
{
    .team
    {
        grid-template-columns: 85%;
        /* align-items: center; */
        justify-content: center;
    }
}

@media(max-width:377px)
{
    .team
    {
        width: 98%;
        margin-left: 1%;
        grid-template-columns: 95%;
        /* align-items: center; */
        justify-content: center;
    }
}
@media(max-width:321px)
{
    .team
    {
       
        grid-template-columns: 99%;
        /* align-items: center; */
        justify-content: center;
    }
    .member .p_info .p_text p:nth-child(2),
    .member .p_info .p_text p:nth-child(1),
    .member .p_tasks > div p
    {
        font-size: 14px;
    }
}